* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2a2c36;
    color: #62d5f8;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*styles for all buttons*/

.button {
    display: block;
    color: #2a2c36;
    background-color: #62d5f8;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
}

.button__disabled {
    display: block;
    color: #2a2c36;
    background-color: #2b5d6c;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
}

.wrapper {
    /*width: 900px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.settings {
    border: 2px solid #62d5f8;
    border-radius: 10px;
    width: 350px;
    padding: 10px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.settings__info {
    border: 2px solid #62d5f8;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.settings__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.settings__input {
    border: 2px solid #62d5f8;
    border-radius: 5px;
}

.settings__input_error {
    border: 2px solid red;
    border-radius: 5px;
}

.settings__button {
    border: 2px solid #62d5f8;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.counter {
    border: 2px solid #62d5f8;
    border-radius: 10px;
    width: 350px;
    padding: 10px;
}

.counter__info {
    border: 2px solid #62d5f8;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-size: 36px;
    margin-bottom: 10px;
}

.counter__buttons {
    border: 2px solid #62d5f8;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}